@import url(../estilo/portfolio.css);

:root{
    --preto-principal: #020301;
    --azul-principal: #b1d4e0;
    --amarelo-hover: #ffd230;
    --cinza-principal: #9a9da1;
    --cinza-letra-cabecalho: #b7b6b6;
    --branco-letras: #FFFFFF;

}
body{
    background-image: linear-gradient(180deg,#9a9da1,#ffffff);
    font-family:Poppins,Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

  /*.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--preto-principal);
}     */ 


header{
    width: 100%;
    background-color: var(--preto-principal);
    box-shadow: 5px 5px 15px -4px var(--preto-principal);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header nav{
    padding-left: 50px;;
}

header li{
    list-style: none;
    padding: 20px; 
}
a{
    text-decoration: none;
    color: var(--cinza-letra-cabecalho);

}
a:hover{
    color: var(--amarelo-hover);
    transition: 1s ease;
}

.rodape{
    color: var(--cinza-letra-cabecalho);
    background-color: var(--cinza-principal);
    box-shadow: 5px -5px 15px -4px var(--preto-principal);
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logotipoPequeno{
    height: 80px;
    margin: 10px;
}
footer img{
    height: 40px;
}

.redeSocial{
    margin: 5px;
    padding: 5px;
}

/*.botaoNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botaoLink{
    padding: 10px;
    text-decoration: none;
    color: var(--cinza-letra-cabecalho);
    font-weight: bold;
    font-size: 20px;
}

.botaoLink:hover{
    color: var(--amarelo-hover);
}*/

/*.rodape{
    background-color: var(--cinza-principal);
    margin-top: 5em;
    padding-top: 1em;
    border-top: 1px solid var(--preto-principal);
}
.imgRodape{
    width: 50px;
}

.logotipoPequeno{
    width: 100px;
}
*/

.copyright{
    font-weight: bold;
}