@import "style.css"; 

header{
    width: 100%;
    background-color: black;
    box-shadow: 5px 5px 15px -4px black;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header li{
    list-style: none;
    padding: 20px; 
}
a{
    text-decoration: none;
    color: rgb(195, 194, 194);

}
a:hover{
    color: gold;
    transition: 1s ease;
}

footer{
    width: 100%;
    color: rgb(173, 171, 171);
    background-color: gray;
    box-shadow: 5px -5px 15px -4px black
}
.logotipoPequeno{
    height: 80px;
    margin: 10px;
}
footer img{
    height: 40px;
}

.redeSocial img{
    margin: 5px;
    padding: 5px;
}

