@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');
@import "headerFooter.css";

h1{
    align-content: center;
    margin-top: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.tituloPrinc{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 36px;
    font-weight: bold;
}

.imgCont{
    width: 500px;
    border-radius: 20px;

}

.caixa{
    padding: 30px;
    padding-left: 10px;
    border-radius: 50px;
    background-color: var(--azul-principal);
    box-shadow: 6px 6px 6px rgb(100, 100, 100);
}

.sep{
    margin-right: 15em;
}


.fraseCont{
    font-size: 36px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.ancoraPrinc{
    text-decoration: none;
    border-radius: 20px;
    padding: 15px 25px 15px 25px;
    background-color: #2d83f3;
    color: var(--branco-letras);
    margin-left: 12.5em;
}

.ancoraPrinc:hover{
    background-color: var(--amarelo-hover);
    color: var(--preto-principal);
    font-weight: bold;
}

main{
    margin-bottom: 5em;
}
