@import url(../estilo/portfolio.css);

:root{
    --preto-principal: #020301;
    --azul-principal: #b1d4e0;
    --amarelo-hover: #ffd230;
    --cinza-principal: #9a9da1;
    --cinza-letra-cabecalho: #b7b6b6;
    --branco-letras: #FFFFFF;

<<<<<<< HEAD
}
body{
    background-image: linear-gradient(180deg,#9a9da1,#ffffff);
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');
:root{
    --pretoPrincipal: #020301;
    --azulPrincipal: #b1d4e0;
    --cinzaPrincipal: #9A9da1;
    --amareloHouver: #ffd230;
    --cinzaLetra: #b7b6b6;
    --brancoLetras: #ffffff;
    --cinzaSeparacao:rgb(228, 228, 228);
    --cinzaFormulario:rgb(226, 226, 226);
    --azulAnimacao:rgb(154, 213, 229);
    --azulBotoes:rgb(5, 123, 202);
    --vermelhoLinks:rgb(247, 11, 11);
    --cinzaPlaceHolder:rgb(112, 111, 111);
    --cinzaLinha:#ddd;
    --cinzaLinha2:rgb(168, 166, 166);
    --cinzaLina3:rgba(97, 97, 97, 0.575);
    --cinzaHouver:#dee0e4;
}
*{
    margin: 0;
    padding: 0;
    font-family:Poppins,Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(180deg,#9A9da1,#dad8d8);
>>>>>>> main
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
<<<<<<< HEAD
    background-color: var(--preto-principal);
}

.botaoNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botaoLink{
    padding: 10px;
    text-decoration: none;
    color: var(--cinza-letra-cabecalho);
    font-weight: bold;
    font-size: 20px;
}

.botaoLink:hover{
    color: var(--amarelo-hover);
}

.rodape{
    background-color: var(--cinza-principal);
    margin-top: 5em;
    padding-top: 1em;
    border-top: 1px solid var(--preto-principal);
}
.imgRodape{
    width: 50px;
}

.logotipoPequeno{
    width: 100px;
}

.copyright{
    font-weight: bold;
}
=======
    justify-content: space-between;
}
>>>>>>> main
