@import url(../estilo/portfolio.css);

:root{
    --preto-principal: #020301;
    --azul-principal: #b1d4e0;
    --amarelo-hover: #ffd230;
    --cinza-principal: #9a9da1;
    --cinza-letra-cabecalho: #b7b6b6;
    --branco-letras: #FFFFFF;

}
body{
    background-image: linear-gradient(180deg,#9a9da1,#ffffff);
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--preto-principal);
}

.botaoNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botaoLink{
    padding: 10px;
    text-decoration: none;
    color: var(--cinza-letra-cabecalho);
    font-weight: bold;
    font-size: 20px;
}

.botaoLink:hover{
    color: var(--amarelo-hover);
}

.rodape{
    background-color: var(--cinza-principal);
    margin-top: 5em;
    padding-top: 1em;
    border-top: 1px solid var(--preto-principal);
}
.imgRodape{
    width: 50px;
}

.logotipoPequeno{
    width: 100px;
}

.copyright{
    font-weight: bold;
}